# NYC Health COVID-19 Data Scraper
### March 30, 2020
### Matthew J. Beattie
### University of Oklahoma

Cases obtained from _https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary.pdf_

Deaths obtained from _https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary-deaths.pdf_

In [1]:
import pandas as pd
import re
import PyPDF2 as pdf
import tempfile
import urllib.request
from datetime import date

yr = 2020
mo = 3
day = 31

## Define Common Routines

In [2]:
"""
textfrompdf()
Reads in PDF file from NYC website or local file.  To read a local file, the user
must flag the readfrom variable as 'local'
"""
def textfrompdf(url,readfrom='online'):
    if readfrom != 'local':
        dataIn = urllib.request.urlopen(url).read()
    else:
        localf = open(url, 'rb')
        dataIn = localf.read()
        localf.close()

    fp = tempfile.TemporaryFile()

    # Write the pdf data to a temp file
    fp.write(dataIn)

    pdfReader = pdf.PdfFileReader(fp)
    pdfReader.getNumPages()

    # Get the first page
    return pdfReader.getPage(0).extractText()

## Read in NYC Cases Data

In [3]:
# Read in text from the PDF file and display
url = 'https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary.pdf'
localurl = 'covid-19-daily-data-summary.pdf'
casespage = textfrompdf(url,readfrom='online')

casespage

'Coronavirus Disease 2019 (COVID\n-19) \n  Daily \nData\n Summary\n  The data in this report reflect events and activities\n as of\n March 3\n1, 2020\n at 9:30 \nAM.  All data in this report are preliminary and subject to change as cases continue to be investigated. \n These\n data \ninclude \ncases in NYC residents and foreign residents treated in NYC facilities\n.  NYC COVID\n-19 Cases\n . Total Cases\n Total\n 40900 Median Age (Range)\n 48 (0\n-105) Age Group\n  -  0 to 17\n 748 (2%)\n -  18 to 44\n 17038 (42%)\n -  45 to 64\n 14395 (35%)\n -  65 to 74\n 4883 (12%)\n -  75 and over\n 3739 (9%)\n -  Unknown\n 97 Age 50 and over\n  -  Yes\n 19481 (48%)\n -  No 21322 (52%)\n Sex\n  -  Female\n 18264 (45%)\n -  Male\n 22587 (55%)\n -  Unknown\n 49 Borough\n  -  Bronx\n 7625 (19%)\n -  Brooklyn\n 10904 (27%)\n -  Manhattan\n 6446 (16%)\n -  Queens\n 13576 (33%)\n -  Staten Island\n 2314 (6%)\n -  Unknown\n 35 Deaths\n 932      \n \n   \n \n  '

## Extract the COVID cases by Age

In [4]:
# Extract the values for the cases by Age.  Ignore Unknown Age. 
tblText = re.sub("Coronavirus.*Cases.*0 to 17", "0 to 17", casespage, flags=re.DOTALL)
tblText = re.sub("Deaths.*","", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)
tblText = re.sub("\(\d+%", "", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub("\n.+?(?=[0-9])", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+", "", tblText, flags=re.DOTALL)
tblText = re.sub("0 to 17", "0-17", tblText, flags=re.DOTALL)
tblText = re.sub("18 to 44", "18-44", tblText, flags=re.DOTALL)
tblText = re.sub("45 to 64", "45-64", tblText, flags=re.DOTALL)
tblText = re.sub("65 to 74", "65-74", tblText, flags=re.DOTALL)
tblText = re.sub("75 and over", "Over_75", tblText, flags=re.DOTALL)

In [5]:
tblText

'0-17,748;18-44,17038;45-64,14395;65-74,4883;Over_75,3739'

In [6]:
# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [7]:
rows

['0-17,748', '18-44,17038', '45-64,14395', '65-74,4883', 'Over_75,3739']

In [8]:
# Convert the rows of text into a list of lists
agedata = []
for row in rows:
    record = []
    field1 = re.search("^([^,])+", row).group()
    field2 = re.search("[^,]+$", row).group()
    record.append(field1)
    record.append(int(field2))
    agedata.append(record)

In [9]:
# Convert the list into a dataframe and display 
agedf = pd.DataFrame(agedata, columns=['category','count'])
agedf['feature']='age'
agedf['type']='cases'
agedf['date']=date(yr,mo,day)
agedf

  category  count feature   type        date
0     0-17    748     age  cases  2020-03-31
1    18-44  17038     age  cases  2020-03-31
2    45-64  14395     age  cases  2020-03-31
3    65-74   4883     age  cases  2020-03-31
4  Over_75   3739     age  cases  2020-03-31

## Extract the COVID cases by Sex

In [10]:
# Extract the values for the cases by Sex.  Ignore Unknown Sex. 
tblText = re.sub("Coronavirus.*Cases.*Female", "Female", casespage, flags=re.DOTALL)
tblText = re.sub("Deaths.*","", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)
tblText = re.sub("\(\d+%", "", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub("\n.+?(?=[0-9])", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+", "", tblText, flags=re.DOTALL)

In [11]:
# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [12]:
# Convert the rows into a list of lists
sexdata = []
for row in rows:
    record = []
    field1 = re.search("^([^,])+", row).group()
    field2 = re.search("[^,]+$", row).group()
    record.append(field1)
    record.append(int(field2))
    sexdata.append(record)

# Convert the list into a dataframe and display
sexdf = pd.DataFrame(sexdata, columns=['category','count'])
sexdf['feature']='sex'
sexdf['type']='cases'
sexdf['date']=date(yr,mo,day)
sexdf

  category  count feature   type        date
0   Female  18264     sex  cases  2020-03-31
1     Male  22587     sex  cases  2020-03-31

## Extract the COVID cases by Borough

In [13]:
# Extract the values for the cases by Borough.  Ignore Unknown Borough. 
tblText = re.sub("Coronavirus.*Cases.*Bronx", "Bronx", casespage, flags=re.DOTALL)
tblText = re.sub("Deaths.*","", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)
tblText = re.sub("\(\d+%", "", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub("\n.+?(?=[0-9])", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+", "", tblText, flags=re.DOTALL)
tblText = re.sub("Staten Island", "Staten_Island", tblText, flags=re.DOTALL)

# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [14]:
# Covert the rows of text into a list of lists
boroughdata = []
for row in rows:
    record = []
    field1 = re.search("^([^,])+", row).group()
    field2 = re.search("[^,]+$", row).group()
    record.append(field1)
    record.append(int(field2))
    boroughdata.append(record)

# Convert the list into a dataframe and display    
boroughdf = pd.DataFrame(boroughdata, columns=['category','count'])
boroughdf['feature']='borough'
boroughdf['type']='cases'
boroughdf['date']=date(yr,mo,day)

# Concatenate Age, Sex, and Borough Stats into a cases dataframe and display
casesdf = pd.concat([agedf, sexdf, boroughdf]).reset_index().drop(columns=['index'])
casesdf

         category  count  feature   type        date
0            0-17    748      age  cases  2020-03-31
1           18-44  17038      age  cases  2020-03-31
2           45-64  14395      age  cases  2020-03-31
3           65-74   4883      age  cases  2020-03-31
4         Over_75   3739      age  cases  2020-03-31
5          Female  18264      sex  cases  2020-03-31
6            Male  22587      sex  cases  2020-03-31
7           Bronx   7625  borough  cases  2020-03-31
8        Brooklyn  10904  borough  cases  2020-03-31
9       Manhattan   6446  borough  cases  2020-03-31
10         Queens  13576  borough  cases  2020-03-31
11  Staten_Island   2314  borough  cases  2020-03-31

## Read in NYC Deaths Data
Note that the deaths program is a bit more efficient.  We handle the entire table in one pass instead of breaking it into Age, Sex, and Borough.

In [15]:
# Read in text from PDF and show in raw format
url = 'https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary-deaths.pdf'
localurl = 'covid-19-daily-data-summary-deaths-200330.pdf'
deathspage = textfrompdf(url,readfrom='online')
deathspage

'Coronavirus Disease 2019 (COVID\n-19) \n  Daily \nData\n Summary\n  The data in this report reflect events and activities\n as of\n March 3\n1, 2020\n at 9:30 \nAM.  All data in this report are preliminary and subject to change as cases continue to be investigated. \n These\n data \ninclude \ncases in NYC residents and foreign residents treated in NYC facilities\n.  NYC COVID\n-19 Deaths\n  . Underlying \nConditions\n1 No \nUnderlying \nConditions\n Underlying \nConditions \nPending\n Total\n Age Group\n     -  0 to 17\n 1 0 0 1 -  18 to 44\n 44 2 11 57 -  45 to 64\n 180 9 29 218 -  65 to 74\n 182 0 39 221 -  75 and over\n 341 3 91 435 Sex\n     -  Female\n 285 4 63 352 -  Male\n 462 10 107 579 -  Unknown\n 1 0 0 1 Borough\n     -  Bronx\n 210 1 19 230 -  Brooklyn\n 163 4 48 215 -  Manhattan\n 92 1 26 119 -  Queens\n 238 8 63 309 -  Staten Island\n 44 0 14 58 -  Unknown\n 1 0 0 1 Total\n 748 14 170 932  1Underlying illnesses include \nDiabetes, Lung Disease, Cancer, Immunodeficiency, Heart Disease, Hypertension, Asthma, Kidney \nDisease, and GI/Liver Disease.\n     \n     \n  \n   '

## Extract the COVID Deaths and Parse

In [16]:
# Parse the deathspage text into a set of records
tblText = re.sub("Coronavirus.*0 to 17", "0 to 17", deathspage, flags=re.DOTALL)
tblText = re.sub("Total.*","", tblText, flags=re.DOTALL)
tblText = re.sub("\n", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \-.+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub(" \-.+", "", tblText, flags=re.DOTALL)
tblText = re.sub(" Sex.+?(?=;)", "", tblText, flags=re.DOTALL)
tblText = re.sub(" Borough.+?(?=;)", "", tblText, flags=re.DOTALL)
tblText = re.sub("0 to 17", "0-17", tblText, flags=re.DOTALL)
tblText = re.sub("18 to 44", "18-44", tblText, flags=re.DOTALL)
tblText = re.sub("45 to 64", "45-64", tblText, flags=re.DOTALL)
tblText = re.sub("65 to 74", "65-74", tblText, flags=re.DOTALL)
tblText = re.sub("75 and over", "Over_75", tblText, flags=re.DOTALL)
tblText = re.sub(", ", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" ", ",", tblText, flags=re.DOTALL)
tblText = re.sub("Staten,Island", "Staten_Island", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.+?(?=B)", "", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)

In [17]:
# Display parsed text to check format
tblText

'0-17,1,0,0,1;18-44,44,2,11,57;45-64,180,9,29,218;65-74,182,0,39,221;Over_75,341,3,91,435;Female,285,4,63,352;Male,462,10,107,579;Bronx,210,1,19,230;Brooklyn,163,4,48,215;Manhattan,92,1,26,119;Queens,238,8,63,309;Staten_Island,44,0,14,58;'

In [18]:
# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [19]:
rows

['0-17,1,0,0,1',
 '18-44,44,2,11,57',
 '45-64,180,9,29,218',
 '65-74,182,0,39,221',
 'Over_75,341,3,91,435',
 'Female,285,4,63,352',
 'Male,462,10,107,579',
 'Bronx,210,1,19,230',
 'Brooklyn,163,4,48,215',
 'Manhattan,92,1,26,119',
 'Queens,238,8,63,309',
 'Staten_Island,44,0,14,58']

In [20]:
# Convert text into a list of rows
dftemp = []
for row in rows:
    record = row.split(",")
    del record[-1]
    for i in range(1,4):
        record[i] = int(record[i])
    if (record[0][0].isdigit() or record[0][0]=='O'):
        record.append('age')
    elif (record[0]=='Female' or record[0]=='Male'):
        record.append('sex')
    else:
        record.append('borough')
    dftemp.append(record)

In [21]:
# Transpose list of rows into higher normal form
deathsdata = []
deathtype = ['death_underlying','death_no_underlying','death_underlying_pending']
for row in dftemp:
    for i in range(1,4):
        record = []
        record.append(row[-1])
        record.append(row[0])
        record.append(deathtype[i-1])
        record.append(row[i])
        deathsdata.append(record)

In [22]:
# Convert list into pandas dataframe and display
deathsdf = pd.DataFrame(deathsdata, columns=['feature','category','type','count'])
deathsdf['date']=date(yr,mo,day)
deathsdf

    feature       category                      type  count        date
0       age           0-17          death_underlying      1  2020-03-31
1       age           0-17       death_no_underlying      0  2020-03-31
2       age           0-17  death_underlying_pending      0  2020-03-31
3       age          18-44          death_underlying     44  2020-03-31
4       age          18-44       death_no_underlying      2  2020-03-31
5       age          18-44  death_underlying_pending     11  2020-03-31
6       age          45-64          death_underlying    180  2020-03-31
7       age          45-64       death_no_underlying      9  2020-03-31
8       age          45-64  death_underlying_pending     29  2020-03-31
9       age          65-74          death_underlying    182  2020-03-31
10      age          65-74       death_no_underlying      0  2020-03-31
11      age          65-74  death_underlying_pending     39  2020-03-31
12      age        Over_75          death_underlying    341  2020-03-31
13      age        Over_75       death_no_underlying      3  2020-03-31
14      age        Over_75  death_underlying_pending     91  2020-03-31
15      sex         Female          death_underlying    285  2020-03-31
16      sex         Female       death_no_underlying      4  2020-03-31
17      sex         Female  death_underlying_pending     63  2020-03-31
18      sex           Male          death_underlying    462  2020-03-31
19      sex           Male       death_no_underlying     10  2020-03-31
20      sex           Male  death_underlying_pending    107  2020-03-31
21  borough          Bronx          death_underlying    210  2020-03-31
22  borough          Bronx       death_no_underlying      1  2020-03-31
23  borough          Bronx  death_underlying_pending     19  2020-03-31
24  borough       Brooklyn          death_underlying    163  2020-03-31
25  borough       Brooklyn       death_no_underlying      4  2020-03-31
26  borough       Brooklyn  death_underlying_pending     48  2020-03-31
27  borough      Manhattan          death_underlying     92  2020-03-31
28  borough      Manhattan       death_no_underlying      1  2020-03-31
29  borough      Manhattan  death_underlying_pending     26  2020-03-31
30  borough         Queens          death_underlying    238  2020-03-31
31  borough         Queens       death_no_underlying      8  2020-03-31
32  borough         Queens  death_underlying_pending     63  2020-03-31
33  borough  Staten_Island          death_underlying     44  2020-03-31
34  borough  Staten_Island       death_no_underlying      0  2020-03-31
35  borough  Staten_Island  death_underlying_pending     14  2020-03-31

In [23]:
# Concatenate cases and deaths dataframes and display
dailydf = pd.concat([casesdf, deathsdf]).reset_index().drop(columns=['index'])
dailydf

         category  count  feature                      type        date
0            0-17    748      age                     cases  2020-03-31
1           18-44  17038      age                     cases  2020-03-31
2           45-64  14395      age                     cases  2020-03-31
3           65-74   4883      age                     cases  2020-03-31
4         Over_75   3739      age                     cases  2020-03-31
5          Female  18264      sex                     cases  2020-03-31
6            Male  22587      sex                     cases  2020-03-31
7           Bronx   7625  borough                     cases  2020-03-31
8        Brooklyn  10904  borough                     cases  2020-03-31
9       Manhattan   6446  borough                     cases  2020-03-31
10         Queens  13576  borough                     cases  2020-03-31
11  Staten_Island   2314  borough                     cases  2020-03-31
12           0-17      1      age          death_underlying  2020-03-31
13           0-17      0      age       death_no_underlying  2020-03-31
14           0-17      0      age  death_underlying_pending  2020-03-31
15          18-44     44      age          death_underlying  2020-03-31
16          18-44      2      age       death_no_underlying  2020-03-31
17          18-44     11      age  death_underlying_pending  2020-03-31
18          45-64    180      age          death_underlying  2020-03-31
19          45-64      9      age       death_no_underlying  2020-03-31
20          45-64     29      age  death_underlying_pending  2020-03-31
21          65-74    182      age          death_underlying  2020-03-31
22          65-74      0      age       death_no_underlying  2020-03-31
23          65-74     39      age  death_underlying_pending  2020-03-31
24        Over_75    341      age          death_underlying  2020-03-31
25        Over_75      3      age       death_no_underlying  2020-03-31
26        Over_75     91      age  death_underlying_pending  2020-03-31
27         Female    285      sex          death_underlying  2020-03-31
28         Female      4      sex       death_no_underlying  2020-03-31
29         Female     63      sex  death_underlying_pending  2020-03-31
30           Male    462      sex          death_underlying  2020-03-31
31           Male     10      sex       death_no_underlying  2020-03-31
32           Male    107      sex  death_underlying_pending  2020-03-31
33          Bronx    210  borough          death_underlying  2020-03-31
34          Bronx      1  borough       death_no_underlying  2020-03-31
35          Bronx     19  borough  death_underlying_pending  2020-03-31
36       Brooklyn    163  borough          death_underlying  2020-03-31
37       Brooklyn      4  borough       death_no_underlying  2020-03-31
38       Brooklyn     48  borough  death_underlying_pending  2020-03-31
39      Manhattan     92  borough          death_underlying  2020-03-31
40      Manhattan      1  borough       death_no_underlying  2020-03-31
41      Manhattan     26  borough  death_underlying_pending  2020-03-31
42         Queens    238  borough          death_underlying  2020-03-31
43         Queens      8  borough       death_no_underlying  2020-03-31
44         Queens     63  borough  death_underlying_pending  2020-03-31
45  Staten_Island     44  borough          death_underlying  2020-03-31
46  Staten_Island      0  borough       death_no_underlying  2020-03-31
47  Staten_Island     14  borough  death_underlying_pending  2020-03-31

In [24]:
# Save the dataframe to a CSV file
yrstr = str(yr)
mostr = str(mo) if mo >= 10 else ('0'+str(mo))
daystr = str(day) if day >= 10 else ('0'+str(day))
datestr = yrstr + mostr + daystr
fname = datestr + '-NYCHealth-Daily-COVID-data.csv'

In [25]:
dailydf.to_csv(fname,sep=",",index=False)