# NYC Health COVID-19 Data Scraper
### March 30, 2020
### Matthew J. Beattie
### University of Oklahoma

Cases obtained from _https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary.pdf_

Deaths obtained from _https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary-deaths.pdf_

In [1]:
import pandas as pd
import re
import PyPDF2 as pdf
import tempfile
import urllib.request
from datetime import date

yr = 2020
mo = 4
day = 2

## Define Common Routines

In [2]:
"""
textfrompdf()
Reads in PDF file from NYC website or local file.  To read a local file, the user
must flag the readfrom variable as 'local'
"""
def textfrompdf(url,readfrom='online'):
    if readfrom != 'local':
        dataIn = urllib.request.urlopen(url).read()
    else:
        localf = open(url, 'rb')
        dataIn = localf.read()
        localf.close()

    fp = tempfile.TemporaryFile()

    # Write the pdf data to a temp file
    fp.write(dataIn)

    pdfReader = pdf.PdfFileReader(fp)
    pdfReader.getNumPages()

    # Get the first page
    return pdfReader.getPage(0).extractText()

## Read in NYC Cases Data

In [3]:
# Read in text from the PDF file and display
url = 'https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary.pdf'
localurl = 'covid-19-daily-data-summary.pdf'
casespage = textfrompdf(url,readfrom='online')

casespage

'Coronavirus Disease 2019 (COVID\n-19) \n  Daily \nData\n Summary\n  The data in this report reflect events and activities\n as of\n April \n2, 2020\n at 4:30 \nPM.  All data in this report are preliminary and subject to change as cases continue to be investigated. \n These\n data \ninclude \ncases in NYC residents and foreign residents treated in NYC facilities\n.  NYC COVID\n-19 Cases\n . Total Cases\n Total\n 49707 Median Age (Range)\n 49 (0\n-105) Age Group\n  -  0 to 17\n 881 (2%)\n -  18 to 44\n 20313 (41%)\n -  45 to 64\n 17497 (35%)\n -  65 to 74\n 6095 (12%)\n -  75 and over\n 4811 (10%)\n -  Unknown\n 110 Age 50 and over\n  -  Yes\n 24129 (49%)\n -  No 25468 (51%)\n Sex\n  -  Female\n 22485 (45%)\n -  Male\n 27155 (55%)\n -  Unknown\n 67 Borough\n  -  Bronx\n 9343 (19%)\n -  Brooklyn\n 13290 (27%)\n -  Manhattan\n 7398 (15%)\n -  Queens\n 16819 (34%)\n -  Staten Island\n 2822 (6%)\n -  Unknown\n 35 Deaths\n 1562    \n \n   \n   '

## Extract the COVID cases by Age

In [4]:
# Extract the values for the cases by Age.  Ignore Unknown Age. 
tblText = re.sub("Coronavirus.*Cases.*0 to 17", "0 to 17", casespage, flags=re.DOTALL)
tblText = re.sub("Deaths.*","", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)
tblText = re.sub("\(\d+%", "", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub("\n.+?(?=[0-9])", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+", "", tblText, flags=re.DOTALL)
tblText = re.sub("0 to 17", "0-17", tblText, flags=re.DOTALL)
tblText = re.sub("18 to 44", "18-44", tblText, flags=re.DOTALL)
tblText = re.sub("45 to 64", "45-64", tblText, flags=re.DOTALL)
tblText = re.sub("65 to 74", "65-74", tblText, flags=re.DOTALL)
tblText = re.sub("75 and over", "Over_75", tblText, flags=re.DOTALL)

In [5]:
tblText

'0-17,881;18-44,20313;45-64,17497;65-74,6095;Over_75,4811'

In [6]:
# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [7]:
rows

['0-17,881', '18-44,20313', '45-64,17497', '65-74,6095', 'Over_75,4811']

In [8]:
# Convert the rows of text into a list of lists
agedata = []
for row in rows:
    record = []
    field1 = re.search("^([^,])+", row).group()
    field2 = re.search("[^,]+$", row).group()
    record.append(field1)
    record.append(int(field2))
    agedata.append(record)

In [9]:
# Convert the list into a dataframe and display 
agedf = pd.DataFrame(agedata, columns=['category','count'])
agedf['feature']='age'
agedf['type']='cases'
agedf['date']=date(yr,mo,day)
agedf

  category  count feature   type        date
0     0-17    881     age  cases  2020-04-02
1    18-44  20313     age  cases  2020-04-02
2    45-64  17497     age  cases  2020-04-02
3    65-74   6095     age  cases  2020-04-02
4  Over_75   4811     age  cases  2020-04-02

## Extract the COVID cases by Sex

In [10]:
# Extract the values for the cases by Sex.  Ignore Unknown Sex. 
tblText = re.sub("Coronavirus.*Cases.*Female", "Female", casespage, flags=re.DOTALL)
tblText = re.sub("Deaths.*","", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)
tblText = re.sub("\(\d+%", "", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub("\n.+?(?=[0-9])", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+", "", tblText, flags=re.DOTALL)

In [11]:
# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [12]:
# Convert the rows into a list of lists
sexdata = []
for row in rows:
    record = []
    field1 = re.search("^([^,])+", row).group()
    field2 = re.search("[^,]+$", row).group()
    record.append(field1)
    record.append(int(field2))
    sexdata.append(record)

# Convert the list into a dataframe and display
sexdf = pd.DataFrame(sexdata, columns=['category','count'])
sexdf['feature']='sex'
sexdf['type']='cases'
sexdf['date']=date(yr,mo,day)
sexdf

  category  count feature   type        date
0   Female  22485     sex  cases  2020-04-02
1     Male  27155     sex  cases  2020-04-02

## Extract the COVID cases by Borough

In [13]:
# Extract the values for the cases by Borough.  Ignore Unknown Borough. 
tblText = re.sub("Coronavirus.*Cases.*Bronx", "Bronx", casespage, flags=re.DOTALL)
tblText = re.sub("Deaths.*","", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)
tblText = re.sub("\(\d+%", "", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub("\n.+?(?=[0-9])", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+", "", tblText, flags=re.DOTALL)
tblText = re.sub("Staten Island", "Staten_Island", tblText, flags=re.DOTALL)

# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [14]:
# Covert the rows of text into a list of lists
boroughdata = []
for row in rows:
    record = []
    field1 = re.search("^([^,])+", row).group()
    field2 = re.search("[^,]+$", row).group()
    record.append(field1)
    record.append(int(field2))
    boroughdata.append(record)

# Convert the list into a dataframe and display    
boroughdf = pd.DataFrame(boroughdata, columns=['category','count'])
boroughdf['feature']='borough'
boroughdf['type']='cases'
boroughdf['date']=date(yr,mo,day)

# Concatenate Age, Sex, and Borough Stats into a cases dataframe and display
casesdf = pd.concat([agedf, sexdf, boroughdf]).reset_index().drop(columns=['index'])
casesdf

         category  count  feature   type        date
0            0-17    881      age  cases  2020-04-02
1           18-44  20313      age  cases  2020-04-02
2           45-64  17497      age  cases  2020-04-02
3           65-74   6095      age  cases  2020-04-02
4         Over_75   4811      age  cases  2020-04-02
5          Female  22485      sex  cases  2020-04-02
6            Male  27155      sex  cases  2020-04-02
7           Bronx   9343  borough  cases  2020-04-02
8        Brooklyn  13290  borough  cases  2020-04-02
9       Manhattan   7398  borough  cases  2020-04-02
10         Queens  16819  borough  cases  2020-04-02
11  Staten_Island   2822  borough  cases  2020-04-02

## Read in NYC Deaths Data
Note that the deaths program is a bit more efficient.  We handle the entire table in one pass instead of breaking it into Age, Sex, and Borough.

In [15]:
# Read in text from PDF and show in raw format
url = 'https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary-deaths.pdf'
localurl = 'covid-19-daily-data-summary-deaths-200330.pdf'
deathspage = textfrompdf(url,readfrom='online')
deathspage

'Coronavirus Disease 2019 (COVID\n-19) \n  Daily \nData\n Summary\n   The data in this report reflect \nevents and activities\n as of\n April \n2, 2020\n at \n4:30 \nPM.  All data in this report are preliminary and subject to change as cases continue to be investigated. \n These\n data \ninclude \ncases in NYC residents and foreign residents treated in NYC facilities\n.  NYC COVID\n-19 Deaths\n  . Underlying \nConditions\n1 No Underlying \nConditions\n Underlying \nConditions Pending\n Total\n Age Group\n     -  0 to 17\n 1 0 0 1 -  18 to 44\n 64 7 19 90 -  45 to 64\n 304 13 65 382 -  65 to 74\n 304 1 71 376 -  75 and over\n 472 3 238 713 Sex\n     -  Female\n 432 6 151 589 -  Male\n 711 18 242 971 -  Unknown\n 2 0 0 2 Borough\n     -  Bronx\n 367 7 47 421 -  Brooklyn\n 247 4 134 385 -  Manhattan\n 124 2 52 178 -  Queens\n 346 11 142 499 -  Staten Island\n 60 0 18 78 -  Unknown\n 1 0 0 1 Total\n 1145 24 393 1562  1Underlying illnesses include Diabetes, Lung Disease, Cancer, Immunodeficiency, Heart Disease, Hypertension, Asthma, Kidney \nDisease, and GI/Liver Disease.\n     \n     \n  \n   \n '

## Extract the COVID Deaths and Parse

In [16]:
# Parse the deathspage text into a set of records
tblText = re.sub("Coronavirus.*0 to 17", "0 to 17", deathspage, flags=re.DOTALL)
tblText = re.sub("Total.*","", tblText, flags=re.DOTALL)
tblText = re.sub("\n", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \-.+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub(" \-.+", "", tblText, flags=re.DOTALL)
tblText = re.sub(" Sex.+?(?=;)", "", tblText, flags=re.DOTALL)
tblText = re.sub(" Borough.+?(?=;)", "", tblText, flags=re.DOTALL)
tblText = re.sub("0 to 17", "0-17", tblText, flags=re.DOTALL)
tblText = re.sub("18 to 44", "18-44", tblText, flags=re.DOTALL)
tblText = re.sub("45 to 64", "45-64", tblText, flags=re.DOTALL)
tblText = re.sub("65 to 74", "65-74", tblText, flags=re.DOTALL)
tblText = re.sub("75 and over", "Over_75", tblText, flags=re.DOTALL)
tblText = re.sub(", ", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" ", ",", tblText, flags=re.DOTALL)
tblText = re.sub("Staten,Island", "Staten_Island", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.+?(?=B)", "", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)

In [17]:
# Display parsed text to check format
tblText

'0-17,1,0,0,1;18-44,64,7,19,90;45-64,304,13,65,382;65-74,304,1,71,376;Over_75,472,3,238,713;Female,432,6,151,589;Male,711,18,242,971;Bronx,367,7,47,421;Brooklyn,247,4,134,385;Manhattan,124,2,52,178;Queens,346,11,142,499;Staten_Island,60,0,18,78;'

In [18]:
# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [19]:
rows

['0-17,1,0,0,1',
 '18-44,64,7,19,90',
 '45-64,304,13,65,382',
 '65-74,304,1,71,376',
 'Over_75,472,3,238,713',
 'Female,432,6,151,589',
 'Male,711,18,242,971',
 'Bronx,367,7,47,421',
 'Brooklyn,247,4,134,385',
 'Manhattan,124,2,52,178',
 'Queens,346,11,142,499',
 'Staten_Island,60,0,18,78']

In [20]:
# Convert text into a list of rows
dftemp = []
for row in rows:
    record = row.split(",")
    del record[-1]
    for i in range(1,4):
        record[i] = int(record[i])
    if (record[0][0].isdigit() or record[0][0]=='O'):
        record.append('age')
    elif (record[0]=='Female' or record[0]=='Male'):
        record.append('sex')
    else:
        record.append('borough')
    dftemp.append(record)

In [21]:
# Transpose list of rows into higher normal form
deathsdata = []
deathtype = ['death_underlying','death_no_underlying','death_underlying_pending']
for row in dftemp:
    for i in range(1,4):
        record = []
        record.append(row[-1])
        record.append(row[0])
        record.append(deathtype[i-1])
        record.append(row[i])
        deathsdata.append(record)

In [22]:
# Convert list into pandas dataframe and display
deathsdf = pd.DataFrame(deathsdata, columns=['feature','category','type','count'])
deathsdf['date']=date(yr,mo,day)
deathsdf

    feature       category                      type  count        date
0       age           0-17          death_underlying      1  2020-04-02
1       age           0-17       death_no_underlying      0  2020-04-02
2       age           0-17  death_underlying_pending      0  2020-04-02
3       age          18-44          death_underlying     64  2020-04-02
4       age          18-44       death_no_underlying      7  2020-04-02
5       age          18-44  death_underlying_pending     19  2020-04-02
6       age          45-64          death_underlying    304  2020-04-02
7       age          45-64       death_no_underlying     13  2020-04-02
8       age          45-64  death_underlying_pending     65  2020-04-02
9       age          65-74          death_underlying    304  2020-04-02
10      age          65-74       death_no_underlying      1  2020-04-02
11      age          65-74  death_underlying_pending     71  2020-04-02
12      age        Over_75          death_underlying    472  2020-04-02
13      age        Over_75       death_no_underlying      3  2020-04-02
14      age        Over_75  death_underlying_pending    238  2020-04-02
15      sex         Female          death_underlying    432  2020-04-02
16      sex         Female       death_no_underlying      6  2020-04-02
17      sex         Female  death_underlying_pending    151  2020-04-02
18      sex           Male          death_underlying    711  2020-04-02
19      sex           Male       death_no_underlying     18  2020-04-02
20      sex           Male  death_underlying_pending    242  2020-04-02
21  borough          Bronx          death_underlying    367  2020-04-02
22  borough          Bronx       death_no_underlying      7  2020-04-02
23  borough          Bronx  death_underlying_pending     47  2020-04-02
24  borough       Brooklyn          death_underlying    247  2020-04-02
25  borough       Brooklyn       death_no_underlying      4  2020-04-02
26  borough       Brooklyn  death_underlying_pending    134  2020-04-02
27  borough      Manhattan          death_underlying    124  2020-04-02
28  borough      Manhattan       death_no_underlying      2  2020-04-02
29  borough      Manhattan  death_underlying_pending     52  2020-04-02
30  borough         Queens          death_underlying    346  2020-04-02
31  borough         Queens       death_no_underlying     11  2020-04-02
32  borough         Queens  death_underlying_pending    142  2020-04-02
33  borough  Staten_Island          death_underlying     60  2020-04-02
34  borough  Staten_Island       death_no_underlying      0  2020-04-02
35  borough  Staten_Island  death_underlying_pending     18  2020-04-02

In [23]:
# Concatenate cases and deaths dataframes and display
dailydf = pd.concat([casesdf, deathsdf]).reset_index().drop(columns=['index'])
dailydf

         category  count  feature                      type        date
0            0-17    881      age                     cases  2020-04-02
1           18-44  20313      age                     cases  2020-04-02
2           45-64  17497      age                     cases  2020-04-02
3           65-74   6095      age                     cases  2020-04-02
4         Over_75   4811      age                     cases  2020-04-02
5          Female  22485      sex                     cases  2020-04-02
6            Male  27155      sex                     cases  2020-04-02
7           Bronx   9343  borough                     cases  2020-04-02
8        Brooklyn  13290  borough                     cases  2020-04-02
9       Manhattan   7398  borough                     cases  2020-04-02
10         Queens  16819  borough                     cases  2020-04-02
11  Staten_Island   2822  borough                     cases  2020-04-02
12           0-17      1      age          death_underlying  2020-04-02
13           0-17      0      age       death_no_underlying  2020-04-02
14           0-17      0      age  death_underlying_pending  2020-04-02
15          18-44     64      age          death_underlying  2020-04-02
16          18-44      7      age       death_no_underlying  2020-04-02
17          18-44     19      age  death_underlying_pending  2020-04-02
18          45-64    304      age          death_underlying  2020-04-02
19          45-64     13      age       death_no_underlying  2020-04-02
20          45-64     65      age  death_underlying_pending  2020-04-02
21          65-74    304      age          death_underlying  2020-04-02
22          65-74      1      age       death_no_underlying  2020-04-02
23          65-74     71      age  death_underlying_pending  2020-04-02
24        Over_75    472      age          death_underlying  2020-04-02
25        Over_75      3      age       death_no_underlying  2020-04-02
26        Over_75    238      age  death_underlying_pending  2020-04-02
27         Female    432      sex          death_underlying  2020-04-02
28         Female      6      sex       death_no_underlying  2020-04-02
29         Female    151      sex  death_underlying_pending  2020-04-02
30           Male    711      sex          death_underlying  2020-04-02
31           Male     18      sex       death_no_underlying  2020-04-02
32           Male    242      sex  death_underlying_pending  2020-04-02
33          Bronx    367  borough          death_underlying  2020-04-02
34          Bronx      7  borough       death_no_underlying  2020-04-02
35          Bronx     47  borough  death_underlying_pending  2020-04-02
36       Brooklyn    247  borough          death_underlying  2020-04-02
37       Brooklyn      4  borough       death_no_underlying  2020-04-02
38       Brooklyn    134  borough  death_underlying_pending  2020-04-02
39      Manhattan    124  borough          death_underlying  2020-04-02
40      Manhattan      2  borough       death_no_underlying  2020-04-02
41      Manhattan     52  borough  death_underlying_pending  2020-04-02
42         Queens    346  borough          death_underlying  2020-04-02
43         Queens     11  borough       death_no_underlying  2020-04-02
44         Queens    142  borough  death_underlying_pending  2020-04-02
45  Staten_Island     60  borough          death_underlying  2020-04-02
46  Staten_Island      0  borough       death_no_underlying  2020-04-02
47  Staten_Island     18  borough  death_underlying_pending  2020-04-02

In [24]:
# Save the dataframe to a CSV file
yrstr = str(yr)
mostr = str(mo) if mo >= 10 else ('0'+str(mo))
daystr = str(day) if day >= 10 else ('0'+str(day))
datestr = yrstr + mostr + daystr
fname = datestr + '-NYCHealth-Daily-COVID-data.csv'

In [25]:
dailydf.to_csv(fname,sep=",",index=False)